/* --- BODY STYLES --- */
* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #000; }

/* --- PORTFOLIO STYLES --- */
main {
  margin: 0 10px; }
  @media (min-width: 1024px) {
    main {
      border-right: 20px solid #333333;
      border-left: 20px solid #333333;
      margin-left: 0;
      margin-right: 0;
      padding-left: 15px;
      padding-right: 15px; } }

@media (min-width: 1024px) {
  .body {
    background-color: #333333; } }

@media (min-width: 1024px) {
  .portfolio-list {
    max-width: 1700px;
    margin: auto; } }

.responsive {
  padding: 0 6px;
  float: left;
  width: 100%;
  min-height: 410px; }
  @media (min-width: 768px) {
    .responsive {
      width: 49.9%;
      margin: 5px 0; } }
  @media (min-width: 1024px) {
    .responsive {
      width: 33.3%; } }

.responsive p {
  padding: 0 15px 15px 15px;
  text-align: center; }

.responsive img {
  max-width: 95%;
  height: auto; }

.skills {
  padding-bottom: 20px;
  border-bottom: 3px solid #000;
  max-width: 95%;
  margin: auto; }

.clearfix::after {
  content: " ";
  display: table;
  clear: both; }

/* --- FOOTER STYLES --- */
footer {
  background-color: #333333;
  padding-top: 20px;
  padding-bottom: 60px;
  margin-top: 40px;
  color: #fff; }
  @media (min-width: 1024px) {
    footer {
      margin-top: 0; } }

h2 {
  padding: 20px 0; }
  @media (min-width: 1024px) {
    h2 {
      margin-top: 0;
      padding-top: 40px; } }

.contact-p {
  padding-bottom: 20px;
  font-size: 102%;
  margin: 0 20px; }

.email {
  border-bottom: 3px solid #f0ebeb;
  padding-bottom: 40px;
  width: 95%;
  margin: auto; }
  @media (min-width: 1024px) {
    .email {
      width: 92%; } }

.footer-links {
  padding-top: 20px; }

.footer-links a {
  color: #fff; }

.footone {
  float: left;
  padding-left: 20px;
  display: inline;
  font-weight: 700;
  font-size: 1.17em; }
  @media (min-width: 1024px) {
    .footone {
      margin-left: 20px; } }

.foottwo {
  float: right;
  padding-right: 20px;
  display: inline;
  font-weight: 700;
  font-size: 1.17em; }
  @media (min-width: 768px) {
    .foottwo {
      display: none; } }
  @media (min-width: 1024px) {
    .foottwo {
      display: none; } }

.nav-large-screens {
  display: none; }
  @media (min-width: 768px) {
    .nav-large-screens {
      display: inline;
      float: right;
      padding-right: 20px; } }
  @media (min-width: 1024px) {
    .nav-large-screens {
      padding-right: 40px; } }

@media (min-width: 1024px) {
  .nav-large-screens div {
    margin: 0;
    padding: 0 10px; } }

/* --- HEADER STYLES --- */
.wrapper {
  background-color: #333333;
  padding-bottom: 40px;
  margin-bottom: 20px;
  color: #fff; }
  @media (min-width: 1024px) {
    .wrapper {
      margin-bottom: 0; } }

@media (min-width: 1024px) {
  .link-container {
    float: right;
    margin-right: 20px; } }

.list-item {
  background-color: #fff;
  margin: 10px;
  padding: 10px 0; }
  @media (min-width: 768px) {
    .list-item {
      display: inline;
      background-color: #333333; } }
  @media (min-width: 1024px) {
    .list-item {
      display: inline-block;
      margin-top: 40px; } }

.list-item a {
  font-weight: 700;
  text-transform: uppercase; }

.mary {
  padding-top: 40px;
  margin-top: 0;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .mary {
      margin-bottom: 20px; } }
  @media (min-width: 1024px) {
    .mary {
      float: left;
      padding: 0 40px;
      margin-top: 40px;
      margin-bottom: 40px;
      display: inline-block; } }

.wrapper img {
  padding-top: 40px;
  padding-bottom: 20px; }

.bio {
  padding: 0 20px;
  line-height: 2; }
  @media (min-width: 1024px) {
    .bio {
      padding: 0 40px;
      text-align: left;
      font-size: 105%;
      max-width: 750px; } }

@media (min-width: 768px) {
  .head-nav div {
    background-color: #333333;
    font-weight: bold;
    text-transform: uppercase; } }

@media (min-width: 768px) {
  .head-nav a {
    color: #ffffff; } }

@media (min-width: 768px) {
  .profile {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    list-style-type: none;
    margin-top: 40px; } }
@media (min-width: 1024px) {
  .profile {
    margin-top: 0; } }

@media (min-width: 768px) {
  .profile img {
    padding: 0;
    margin-right: 20px;
    margin-left: 20px; } }
@media (min-width: 1024px) {
  .profile img {
    margin-right: 40px; } }

@media (min-width: 768px) {
  .profile p {
    -webkit-flex: 2;
    font-size: 2.4em; } }

@media (min-width: 768px) {
  .profile-image {
    max-width: 300px;
    max-height: 184px; } }
@media (min-width: 1024px) {
  .profile-image {
    max-width: 367px;
    max-height: 225px; } }

.footer-links-text, .phone, .email {
  font-weight: 700;
  padding-bottom: 20px;
  font-size: 102%; }

.footer-links-a, .phone a, .email a {
  font-weight: 400;
  color: #fff; }

body {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0; }

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.17em; }

/*# sourceMappingURL=application.css.map */
